/*---- Main Body Style ----*/
.main-body {
    background-color: $dashboard_bg;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    /*---- Content Body Style ----*/
    &-content {
        width: calc(100% - 300px);
        padding: $spacing_sm;
        @media (max-width: 1440px) {
            width: calc(100% - 200px);
        }
    }

    /*---- Body Header ----*/
    &-header {
        border-bottom: 1px solid $border_dark_grey;
        &-title {
            font-size: 1.8em;
        }
        &-btn_group {
            @include flex_align_center;
            grid-gap: $spacing_s;
        }
        &-btnAdd {
            font-size: 13px;
            color: $brand;
            border: 1px solid $brand;
            padding: 6px 10px;
            border-radius: 4px;
            transition: $ease_03;
            cursor: pointer;
            svg {
                width: 15px;
                height: 15px;
            }
            &:hover {
                color: #fff;
                background-color: $brand;
            }
        }
    }
}

/* ----- Auth Forms ----- */
.signup-form {
    button, .signin-google-btn {
        font-size: 22px;
    }
}

/*---- Box Item Style ---*/
.box {
    &-item {
        @include box_item;
    }
}

/*---- Welcome Box Style ----*/
.welcome-box {
    &-img {
        margin-top: -40px;
        img {
            max-width: 225px;
        }
        @media (max-width: 1440px) {
            margin-top: -35px;
        }
    }
}

/* ----- Avatar ----- */
.AvatarGroup {
    &-avatar {
        cursor: pointer;
        &_small {
            .MuiAvatarGroup-avatar {
                width: 30px;
                height: 30px;
                font-size: 12px;
            }
        }
    }
}

/*---- Scrollbar ----*/
.scrollbar {
    overflow: hidden;
    overflow-Y: auto;
    padding-right: $spacing_xs;
    &::-webkit-scrollbar-track {
        background-color: $light;
    }
    &::-webkit-scrollbar {
        border-radius: $border_radius_xs;
        width: $scrollbar_width;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border_radius_xs;
        background-color: $grey_xd;
    }
}

/*---- Image ----*/
.img {
    &-townhall {
        &-logo {
            width: $townhall_logo;
        }
        &-dp {
            width: $townhall_dp;
            border-radius: $border_radius;
        }
    }
    &-team {
        &-dp {
            width: $team_dp;
            border-radius: $border_radius;
        }
    }
}

/*---- TODO ----*/
.todo {
    &-add {
        position: relative;
        input {
            border: 2px solid $secondary;
        }
        &-btn {
            position: absolute;
            right: $spacing_sm;
            top: 7px;
        }
    }
    &-item {
        @include flex_align_center;
        border: 1px solid $grey;
        padding: $spacing_xs $spacing_sm;
        border-radius: $border_radius_xs;
        &:not(:last-child) {
            margin-bottom: $spacing_xs;
        }
        &-text {
            flex: 1
        }
        &-btns {
            @include flex_align_center;
            width: 125px;
            button {
                border: none;
                &:not(:last-child) {
                    margin-right: $spacing_xs;
                }
            }
        }
    }
}

/* ----- Tab Navigator Bar ----- */
.tabNavigationBar {
    &-tab {
        display: flex;
        flex-direction: inherit;
        gap: 30px;
    }
    &-item {
        padding: 15px 0;
        font-weight: 600;
        svg {
            width: 18px;
            height: 18px;
        }
        &-active {
            background-color: inherit;
            color: $brand;
            border-bottom: 1px solid $brand;
        }
        &:last-child {
            border-radius: 0;
        }
    }
}

/* ----- Kanban ----- */
.kanban {
    &_bord {
        &_body {
            &_columns {
                padding-top: $spacing_sm;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: $spacing_lg;

                @media (max-width: 1440px) {
                    gap: $spacing_md;
                }
            }
        }
        &_column {
            &_title {
                font-size: 20px;
                color: $text_color;
                &_wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                }
            }
        }
    }
    &_column {
        &_task {
            border: 2px solid #fff;
            &.dragging {
                @include draging_item;
            }
            &:not(:last-child) {
                margin-bottom: $spacing_sm;
            }
            .card-body {
                padding: $spacing_xs $spacing_s;
            }
            &_name {
                display: flex;
                gap: $spacing_xs;
                padding-right: $spacing_md;
                cursor: pointer;
                svg {
                    max-width: 18px;
                }
            }
            &_bot {
                display: flex;
                justify-content: space-between;
                margin-top: $spacing_xs;
                padding-top: $spacing_xs;
                border-top: 1px solid $border_grey;

                .team-member {
                    width: 26px;
                    height: 26px;
                    margin-right: -5px;
                }
            }
            &_date {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 13px;
                font-weight: 600;
                transition: $ease_03;
            }
            &_complete_icon {
                cursor: pointer;
                transition: $ease_03;
                &:hover {
                    color: $success;
                }
            }
            &_project_name {
                margin-top: $spacing_xs;
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 5px;
                color: $text-light;
                svg {
                    width: 14px;
                    height: 14px;
                }
            }
            /* ----- Task Status ----- */
            &_done {
                border-color: $success_light;
                .kanban_column_task {
                    &_complete_icon {
                        color: $success;
                    }
                    &_date {
                        color: $success;
                    }
                }
            }
            &_overdue {
                border-color: $danger_light;
                .kanban_column_task {
                    &_date {
                        color: $danger;
                    }
                }
            }
            &_warning {
                border-color: $warning_light;
                .kanban_column_task {
                    &_date {
                        color: $warning;
                    }
                }
            }
        }
    }
}

/* ----- Add Canvas ----- */
.AddCanvas {
    width: 767px;
    background-color: #fff;
    box-shadow: $box_shadow_light;
    padding: 0 0 $spacing_md;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}

/* ----- Add Task ----- */
.AddTask {
    &_head {
        padding: $spacing_s $spacing_md;
    }
    &_title {
        font-size: 26px;
    }
    &_rulesOverview {
        margin-top: $spacing_md;
        &_item {
            display: grid;
            grid-template-columns: 150px 1fr;
            &:not(:last-child) {
                margin-bottom: $spacing_sm;
            }
            &_name {
                min-width: 150px;
                font-weight: 500;
                font-size: 16px;
            }
            &_rulesAction_wrap {
                display: flex;
                align-items: center;
                gap: $spacing_md;
            }
        }
    }
    &_body {
        padding: $spacing_md;
        height: 100%;
        overflow-y: auto;
        border-top: 1px solid $border_dark_grey;
        position: relative;
        
        &-edit {
            height: calc(100% - 200px);    
        }
    }
    &_item_name {
        font-size: 20px;
    }
    &_sec_space {
        margin-top: $spacing_lg;
    }
}

.addRules {
    display: flex;
    align-items: center;
    grid-gap: $spacing_xs;
    &_text {
        font-size: 16px;
    }
    &_remove {
        margin-left: $spacing_xs;
    }
    &-date {
        .addRules-date {
            font-weight: 500;
        }
    }
}

/* ----- Assignee ----- */
.add_assignee {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &-img {
        @include user_assignee;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-name {
        color: $text-color;
        transition: $ease_03;
        padding: 4px 4px 4px 10px;
        
        &:hover {
            color: $brand;
        }
        span {
            font-size: 13px;
            border: 1px solid $grey;
            color: $secondary;
            padding: 0 7px;
            border-radius: $border_radius_xs;
        }
    }
}

/* ----- React Select Box ----- */
#react-select-3 {
    &-listbox {
        box-shadow: none;
        border: 1px solid $border_grey;
        width: auto;
        border-radius: $border_radius_sm;
        padding: $spacing_sm;
        > div {
            @include custom_scrollbar;
            > div {
                padding: 0;
                background-color: transparent;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

div.css {
    &-13cymwt-control, &-t3ipsp-control, &-t3ipsp-control:hover {
        border: none;
        outline: none;
        box-shadow: none;
    }
    &-13cymwt-control, &-t3ipsp-control {
        min-height: inherit;
    }
    &-1hb7zxy-IndicatorsContainer {
        display: none;
    }
    &-wsp0cs-MultiValueGeneric {
        font-size: inherit;
        .add_assignee-name span {
            display: none;
        }
    }
    &-qbdosj-Input {
        cursor: text;
    }
    &-12a83d4-MultiValueRemove:hover {
        background-color: transparent;
    }
    &-1fdsijx-ValueContainer {
        padding: 0;
    }
    &-d7l1ni, &-10wo9uf {
        &-option {
            background-color: transparent;
            
        }
    }
    &-3w2yfm-ValueContainer, &-wsp0cs-MultiValueGeneric, &-1p3m7a8-multiValue {
        padding: 0;
    }
    &-3w2yfm-ValueContainer {
        grid-gap: $spacing_xs;
    }
    &-1p3m7a8-multiValue {
        background-color: $light;
        border-radius: $border_radius_rounded;
        padding-right: 3px;
    }
}

/* ----- React Date Picker ----- */
div.react-datepicker {
    border: 1px solid $border_dark_grey;
    border-radius: $border_radius_xs;
    font-family: $jost;
    z-index: 9999;
    &__header {
        background-color: transparent;
        padding: $spacing_s;
        border: none;
    }
    &__current-month {
        display: inline-block;
        padding: $spacing_xs $spacing_sm;
        border-radius: $border_radius_xs;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 22px;
        color: $brand;
    }
    &__navigation {
        transform: translateY(28px);
    }
    &__day-name, &__day, &__time-name {
        width: 35px;
        height: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius_rounded;
    }
    &__day {
        &-name {
            background-color: $light;
        }
        &--selected {
            background-color: $brand;
            border-radius: $border_radius;
        }
        &:hover {
            border-radius: $border_radius;
        }
    }
    &-popper {
        z-index: 9999;
        &[data-placement^=bottom] .react-datepicker__triangle:after {
            border-bottom-color: #fff;
        }
    }
}
/* ----- Filter Sort ----- */
.filterSort {
    &_wrap {
        min-width: 450px;
    }
    &_body {
        padding: $spacing_sm;
        &-header {
            font-size: 16px;
        }
        &_item {
            &:not(:last-child) {
                margin-bottom: $spacing_md;
            }
        }
        &_btn {
            &_group {
                display: flex;
                flex-wrap: wrap;
                gap: $spacing_xs;
            }
            &_action {
                padding: 3px 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;
                transition: $ease_03;
                display: flex;
                align-items: center;

                svg {
                    width: 16px;
                    height: 16px;
                    color: $secondary;
                    margin-right: 5px;
                }

                &:hover {
                    color: $secondary;
                    border-color: $secondary;
                }
            }
        }
    }
}

/* ----- Icon ----- */
.icon {
    &_rounded {
        @include icon_style_round;
        cursor: pointer;
        color: $text_light;
        transition: $ease_03;
        font-size: 12px;
        svg {
            width: 18px;
            height: 18px;
        }
        &_s {
            width: 25px;
            height: 25px;
            svg {
                width: 15px;
                height: 15px;
            }
        }
    }
    &_remove {
        transition: $ease_03;
        cursor: pointer;
        color: $text_light;
        &:hover {
            color: $danger;
        }
        svg {
            width: 18px;
            height: 18px;
        }
    }
}

/* ----- Task List View ----- */
.taskList {
    &_head {
        margin-top: $spacing_s;
        &_col {
            padding: $spacing_s $spacing_sm;
            min-width: 150px;
            text-align: center;
            color: $white;
            text-transform: uppercase;
            background-color: $brand;
            &_name {
                flex: 1;
                text-align: left;
            }
        }
    }
    &_row {
        display: flex;
        grid-gap: 3px;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
    &_col {
        padding: $spacing_xs $spacing_sm;
        min-width: 150px;
        background-color: $white;
        &:not(.taskList_col_title) {
            text-align: center;
            @include flex_center;
        }
        &_title {
            flex: 1;
            display: flex;
            cursor: pointer;
            &_complete_icon {
                margin-right: $spacing_xs;
                cursor: pointer;
                transition: $ease_03;
                &:hover, &.active {
                    color: $success;
                }
            }
        }
        .btn_status {
            display: block;
        }
    }
}

/* ----- Drop Area ----- */
.drop_area {
    @include drop_area;
}

/* ----- Item Submit ----- */
.item_submit {
    margin-top: $spacing_sm;
    border-top: 1px solid $border_grey;
    padding: $spacing_sm 0;
    button {
        min-width: 130px;
        text-transform: uppercase;
        font-size: 16px;
    }
}

/* ----- Sun Editor ----- */
div.sun-editor {
    font-family: $jost;
    border: none;
    background-color: $light;
    border-radius: $border_radius_sm;
    .se {
        &-container {
            padding: 10px 10px 55px;
        }
        &-resizing-bar {
            display: none;
        }
        &-toolbar {
            outline: none;
            border-bottom: none;
            background-color: transparent;
            position: absolute;
            left: 20px;
            bottom: 20px;
            width: auto;
            display: inline-block;
        }
        &-btn {
            &-tray {
                padding: 0;
                height: 32px;
            }
            &-module-border {
                border: none;
            }
        }
        &-wrapper-inner {
            font-family: $jost;
        }
    }
    button>svg {
        width: 13px;
        height: 13px;
        display: flex;
        align-items: center;
    }
    &-editable {
        background-color: transparent;
    }
}

/* ----- Skeleton ----- */
.Skeleton {
    &-avatarName {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 5px;
        align-items: center;   
    }
}

/* ----- Comment Area ----- */
.custComment {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    &-wrap {
        position: relative;
        margin: $spacing_sm $spacing_md;
    }

    &-btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 99;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        grid-gap: 4px;
    }
}

/* ----- Requiring Task ----- */
.req_calender {
    width: 350px;
    max-width: 100%;
    border: 1px solid $border_grey;
    padding: $spacing_s;
    border-radius: $border_radius_xs;
    &-label {
        font-size: 18px;
        font-weight: 500;
    }
    &-header {
        &-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing_xs;
            border-radius: $border_radius_xs;
            &-date {
                padding: 5px 15px;
                border-radius: $border_radius_xs;
                grid-gap: 5px;
                @include flex_align_center;
                &-primary {
                    border: 1px solid $brand_light;
                    color: $brand;
                    &:hover {
                        border-color: $brand;
                    }
                }
                &-secondary {
                    border: 1px solid $secondary_light;
                    color: $secondary;
                    &:hover {
                        border-color: $secondary;
                    }
                }
                span {
                    display: inline-flex;
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
    &-body {
        background-color: $light;
        padding: $spacing_sm;
        border-radius: $border_radius_xs;
    }
    &-repeats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $spacing_sm;
        &-info {
            background-color: $yellow;
            padding: 5px 10px;
            border-radius: $border_radius_xs;
            text-align: center;
            margin-top: $spacing_sm;
        }
        select.form-select {
            &.planHoverStyle {
                background-color: transparent;
                min-height: inherit;
                border: none;
                border-radius: $border_radius_xs;
                background-color: #fff;
                padding: 5px 30px 5px 15px;
                font-size: 14px;
                &:hover, &.active {
                    border-color: $border_form;
                }
            }
        }
        &-lable {
            font-size: 14px;
        }
        &-weekly {
            &-day_select {
                justify-content: space-between;
                &>:not(style)~:not(style) {
                    margin-left: 0 !important;
                }
                .MuiAvatar-circular {
                    width: 30px;
                    height: 30px;
                    font-size: 14px;
                    cursor: pointer;
                    transition: $ease_03;
                    &:hover, &.active {
                        background-color: $brand;
                    }
                }
            }
        }
        &-monthly {
            &-opt {
                background: #fff;
                display: block;
                padding: 5px $spacing_xs;
                text-align: center;
                border-radius: $border_radius_xs;
                transition: $ease_03;
                font-size: 12px;
                svg {
                    width: 12px;
                    height: 12px;
                }
                &:hover, &.active {
                    background-color: $brand;
                    color: #fff;
                }
            }
            &-item {
                display: flex;
                justify-content: space-between;
                grid-gap: $spacing_sm;
                .form-control, .form-select {
                    min-height: inherit;
                    border: none;
                    font-size: 12px;
                    padding: 5px 30px 5px 10px;
                    border-radius: $border_radius_xs;
                }
            }
            &-onThe-r {
                display: flex;
                justify-content: space-between;
                grid-gap: $spacing_s;
            }
        }
    }
}