/*---- Main Body Style ----*/
.main-body {
    background-color: $dashboard_bg;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    
    /*---- Content Body Style ----*/
    &-content {
        width: calc(100% - 300px);
        padding: $spacing_sm;
        @media (max-width: 1440px) {
            width: calc(100% - 200px);
        }
    }

    /*---- Body Header ----*/
    &-header {
        border-bottom: 1px solid $border_dark_grey;
        &-title {
            font-size: 1.8em;
        }
        &-btn_group {
            @include flex_align_center;
            grid-gap: $spacing_s;
        }
    }
}

/* ----- Auth Forms ----- */
.signup-form {
    button, .signin-google-btn {
        font-size: 22px;
    }
}

/*---- Box Item Style ---*/
.box {
    &-item {
        @include box_item;
    }
}

/*---- Welcome Box Style ----*/
.welcome-box {
    &-img {
        margin-top: -40px;
        img {
            max-width: 225px;
        }
        @media (max-width: 1440px) {
            margin-top: -35px;
        }
    }
}

/* ----- Avatar ----- */
.avatarGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    .avatar {
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $grey_xd;
        border-radius: 50%;
        border: 1px solid $grey;
        font-weight: 600;
        color: $dark;
        img {
            width: 100%;
        }

        &-sm {
            width: 28px;
            height: 28px;
            font-size: 10px;
            letter-spacing: 1px;
        }
    }

    &-avatar {
        display: flex;
        &:first-child {
            .avatar {
                margin-left: 0;
            }
        }
    }

    &-overlap {
        .avatar {
            margin-left: -20px;
        }
    }
}

/*---- Scrollbar ----*/
.scrollbar {
    overflow: hidden;
    overflow-Y: auto;
    padding-right: $spacing_xs;
    &::-webkit-scrollbar-track {
        background-color: $light;
    }
    &::-webkit-scrollbar {
        border-radius: $border_radius_xs;
        width: $scrollbar_width;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: $border_radius_xs;
        background-color: $grey_xd;
    }
}

/*---- Image ----*/
.img {
    &-townhall {
        &-logo {
            width: $townhall_logo;
        }
        &-dp {
            width: $townhall_dp;
            border-radius: $border_radius;
        }
    }
    &-team {
        &-dp {
            width: $team_dp;
            border-radius: $border_radius;
        }
    }
}

/*---- TODO ----*/
.todo {
    &-add {
        position: relative;
        input {
            border: 2px solid $secondary;
        }
        &-btn {
            position: absolute;
            right: $spacing_sm;
            top: 7px;
        }
    }
    &-item {
        @include flex_align_center;
        border: 1px solid $grey;
        padding: $spacing_xs $spacing_sm;
        border-radius: $border_radius_xs;
        &:not(:last-child) {
            margin-bottom: $spacing_xs;
        }
        &-text {
            flex: 1
        }
        &-btns {
            @include flex_align_center;
            width: 125px;
            button {
                border: none;
                &:not(:last-child) {
                    margin-right: $spacing_xs;
                }
            }
        }
    }
}

/* ----- Tab Navigator Bar ----- */
.tabNavigationBar {
    &-tab {
        display: flex;
        flex-direction: inherit;
        gap: 30px;
    }
    &-item {
        padding: 15px 0;
        font-weight: 600;
        svg {
            width: 18px;
            height: 18px;
        }
        &-active {
            background-color: inherit;
            color: $brand;
            border-bottom: 1px solid $brand;
        }
        &:last-child {
            border-radius: 0;
        }
    }
}

/* ----- Kanban ----- */
.kanban {
    &_column {
        &_task {
            border: 3px solid #fff;
            border-radius: 6px;
            background-color: #fff;

            &:not(:last-child) {
                margin-bottom: $spacing_sm;
            }
            &-wrap {
                padding: $spacing_xs $spacing_s;
                position: relative;
            }
            &_name {
                cursor: pointer;
                
                &_text {
                    font-size: 13px;
                }
            }
            &_bot {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;
                padding-top: 5px;
                border-top: 1px solid $border_grey;

                .team-member {
                    width: 26px;
                    height: 26px;
                    margin-right: -5px;
                }
            }
            &_date {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 10px;
                font-weight: 600;
                transition: $ease_03;
            }
            &_complete_icon {
                width: 18px;
                height: 18px;
                border: 1px solid $text_light;
                border-radius: $border_radius;
                @include flex_center;
                cursor: pointer;
                transition: $ease_03;
                margin-top: 3px;

                i {
                    font-size: 14px;
                }

                &:hover {
                    background-color: $success;
                    color: #fff;
                }
            }
            &_project_name {
                margin-top: $spacing_xs;
                font-size: 13px;
                @include flex_align_center;
                gap: $spacing_s;
                color: $text-light;
            }
            /* ----- Task Status ----- */
            &_done {
                .kanban_column_task {
                    &_complete_icon {
                        color: $success;
                        border-color: $success;
                    }
                    &_date {
                        color: $success;
                    }
                    &_complete_icon {
                        background-color: $success;
                        color: #fff;
                    }
                }
            }
            &_overdue {
                .kanban_column_task {
                    &_date {
                        color: $danger;
                    }
                }
            }
            &_warning {
                .kanban_column_task {
                    &_date {
                        color: $warning;
                    }
                }
            }

            /*----- Draging -----*/
            &.sortable {
                &-ghost {
                    opacity: 1;
                }
            }
        }
        &_empty {
            width: 286px;
            min-height: 116px;
            border-radius: $border_radius_xs;
            @include flex_center;
            font-size: 32px;
            color: $grey_xd;
            background-color: $grey;
            position: absolute;
        }
    }
    &_bord {
        &_body {
            &_columns {
                padding-top: $spacing_sm;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: $spacing_lg;

                @media (max-width: 1440px) {
                    gap: $spacing_md;
                }
            }
        }
        &_column {
            &_title {
                font-size: 20px;
                color: $text_color;
                &_wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                }
            }
            &_assigned {
                .kanban_column_task {
                    border-color: $grey;
                }
            }
            &_accepted {
                .kanban_column_task {
                    border-color: $yellow_light;
                }
                .avatarGroup .avatar {
                    background-color: $yellow;
                }
            }
            &_in_review {
                .kanban_column_task {
                    border-color: $progress_light;
                }
                .avatarGroup .avatar {
                    background-color: $progress;
                    color: #fff;
                }
            }
            &_completed {
                .kanban_column_task {
                    border-color: $success_light;

                    &_bot {
                        border-color: $success_light;
                    }
                    
                    &_date {
                        color: $success;
                    }
                }
                .avatarGroup .avatar {
                    background-color: $success;
                    color: #fff;
                }
            }
        }
    }
}

/* ----- Add Canvas ----- */
.AddCanvas {
    width: 767px;
    background-color: #fff;
    box-shadow: $box_shadow_light;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: auto;
}

/* ----- Add Task ----- */
.AddTask {
    &_head {
        padding: $spacing_s $spacing_md;
        border-bottom: 1px solid $grey;
    }
    &_title {
        font-size: 20px;
        &-icon {
            font-size: 14px;
            color: $brand;
        }
        &-lable {
            font-size: 14px;
            color: $text_light;
            position: absolute;
            top: -10px;
            left: 5px;
            background: $white;
            padding: 0 $spacing_xs;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        &-wrap {
            position: relative;
            &:hover {
                .AddTask_title-icon {
                    color: $brand;
                }
            }
        }
    }
    &_rulesOverview {
        &_item {
            display: grid;
            grid-template-columns: 150px 1fr;
            &:not(:last-child) {
                margin-bottom: $spacing_sm;
            }
            &_name {
                min-width: 150px;
                font-weight: 500;
                font-size: 16px;
            }
            &_rulesAction {
                .select2-container--default .select2-selection--multiple .select2-selection__choice,
                .select2-container--default .select2-selection--multiple, 
                .select2-container--default.select2-container--focus .select2-selection--multiple,
                .select2-container--default .select2-selection--single, 
                .select2-container--default.select2-container--focus .select2-selection--single {
                    border: none;
                }
            }
        }
    }
    &_body {
        padding: $spacing_md;
        position: relative;
        
        &-edit {
            height: calc(100% - 200px);    
        }
    }
    &_item_name {
        font-size: 20px;
    }
    &_sec_space {
        margin-top: $spacing_lg;
    }
}

/* ----- Select ----- */
.select2 {
    &-container {
        &--default {
            .select2-selection {
                &--multiple {
                    .select2-selection__choice {
                        background: $light;
                        padding: 4px 10px;
                        margin: 0;
                        border: none;
                        border-radius: 30px;
                        font-size: 14px;
                        display: inline-flex;
                        flex-direction: row-reverse;
                        margin-right: 10px;
            
                        &__remove {
                            position: relative;
                            border: none;
                        }
                    }
                }
                &__choice {
                    &__display {
                        padding-left: 0;
                        &_userImg {
                            width: 25px;
                            height: 25px;
                            border-radius: $border_radius;
                        }
                    }
                }
                &__arrow {
                    display: none;
                }
                &--single {
                    .select2-selection__rendered {
                        padding: 0;
                    }
                }
            }
            .select2-search--inline {
                .select2-search__field {
                    margin: 0;
                    vertical-align: inherit;
                    font-family: inherit;
                    &::placeholder {
                        color: $text_light;
                    }
                }
            }
            .select2-results__option {
                padding: 7px 15px;
                font-size: 13px;
                &--selected {
                    background: $white;
                }
                &--highlighted.select2-results__option--selectable {
                    background: $light;
                    color: $dark;
                    font-size: 13px;
                    padding: 7px 15px;
                }
            }
            .select2-search--dropdown {
                padding: 0;
                margin-bottom: $spacing_xs;
                .select2-search__field {
                    border-color: $grey_xd;
                    border-radius: 4px;
                    padding: 3px 10px;
                    &:focus-visible {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }

        &--open .select2-dropdown--below {
            border-top: 1px solid $grey;
        }
    }
    
    &-hidden-accessible {
        min-height: inherit;
    }
    &-dropdown {
        border: 1px solid $grey;
        padding: 5px;
    }
}


/* ----- Rules Action ----- */
.rulesAction {
    &_group {
        display: flex;
        flex-wrap: wrap;
        &-item {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
    &-item {
        &-date {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

/* ----- Assignee ----- */
.add_assignee {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &-img {
        @include user_assignee;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-name {
        color: $text-color;
        transition: $ease_03;
        padding: 4px 4px 4px 10px;
        
        &:hover {
            color: $brand;
        }
        span {
            font-size: 13px;
            border: 1px solid $grey;
            color: $secondary;
            padding: 0 7px;
            border-radius: $border_radius_xs;
        }
    }
}
/* ----- Filter Sort ----- */
.filterSort {
    &_wrap {
        min-width: 450px;
    }
    &_body {
        padding: $spacing_sm;
        &-header {
            font-size: 16px;
        }
        &_item {
            &:not(:last-child) {
                margin-bottom: $spacing_md;
            }
        }
        &_btn {
            &_group {
                display: flex;
                flex-wrap: wrap;
                gap: $spacing_xs;
            }
            &_action {
                padding: 3px 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;
                transition: $ease_03;
                display: flex;
                align-items: center;

                svg {
                    width: 16px;
                    height: 16px;
                    color: $secondary;
                    margin-right: 5px;
                }

                &:hover {
                    color: $secondary;
                    border-color: $secondary;
                }
            }
        }
    }
}

/* ----- Icon ----- */
.icon {
    &_rounded {
        @include icon_style_round;
        cursor: pointer;
        color: $dark;
        transition: $ease_03;
        font-size: 12px;
        i {
            font-size: 18px;
            color: $secondary;
        }
        &_s {
            width: 25px;
            height: 25px;
            i {
                font-size: 15px;
            }
        }
    }
    &_remove {
        transition: $ease_03;
        cursor: pointer;
        color: $text_light;
        &:hover {
            color: $danger;
        }
        i {
            font-size: 18px;
            color: $dark;
        }
    }
}

/* ----- Task Status Tabs ----- */
.taskList-dashbaord_tabs {
    .nav-pills  {
        gap: $spacing_sm;
        .nav-link {
            border: 1px solid $grey_xd;
            background-color: $grey;
            color: $text_color;
            &.active {
                background-color: $brand;
                border-color: $brand;
                color: $white;
                &#task_list_tab {
                    &_progress-tab {
                        border-color: $yellow;
                        background-color: $yellow;
                        color: $text-color;
                    }
                    &_review-tab {
                        border-color: $secondary;
                        background-color: $secondary;
                        color: $white;
                    }
                    &_complete-tab {
                        border-color: $success;
                        background-color: $success;
                        color: $white;
                    }
                }
            }
        }
    }
}

/* ----- Task List View ----- */
.taskList {
    &_col {
        padding: 6px $spacing_s;
        font-size: 14px;
        &_title {
            display: grid;
            grid-template-columns: 30px 1fr;
            grid-gap: 5px;
            cursor: pointer;
            &_complete_icon {
                width: 20px;
                height: 20px;
                font-size: 16px;
                border: 1px solid $success;
                border-radius: $border_radius;
                @include flex_center;
                cursor: pointer;
                transition: $ease_03;
                margin-top: 2px;
                &:hover, &.active {
                    background-color: $success;
                    color: #fff;
                }
            }
        }
        .avatarGroup {
            justify-content: center;
        }
    }
    &_row {
        background-color: $white;
        border-radius: $border_radius_xs;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        > .row {
            align-items: center;
        }
    }

    /* ----- Task List Header ----- */ 
    &-dashbaord {
        &_tabs {
            margin-top: $spacing_sm;
        }
        &_header {
            background-color: $brand;
            margin: $spacing_s 0;
            border-radius: $border_radius_xs;
            &_title {
                letter-spacing: 1px;
                color: #fff;
                font-size: 16px;
            }
        }
    }
}

/* ----- Item Submit ----- */
.item_submit {
    margin-top: $spacing_sm;
    border-top: 1px solid $border_grey;
    padding: $spacing_sm 0;
    button {
        min-width: 130px;
        text-transform: uppercase;
        font-size: 16px;
    }
}

/* ----- Summer Note Editor ----- */
.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
    font-size: 14px;
}
.note-editor .note-editing-area .note-editable a {
    color: $brand;
}
.note-editor .note-toolbar>.note-btn-group, .note-popover .popover-content>.note-btn-group {
    margin: 0;
}
.note-btn, .note-btn:hover, .note-btn:active, .note-btn:focus {
    font-size: 12px;
    background: transparent;
    padding: 0 $spacing_xs;
    border: none;
}
.note-editor .note-toolbar, .note-popover .popover-content {
    padding-bottom: 3px
}
.note-editor.note-airframe, .note-editor.note-frame {
    border-color: $grey;
}
.note-toolbar {
    background: $light;
    border-bottom: 1px solid $grey;
}
.note-editor.note-airframe .note-statusbar, .note-editor.note-frame .note-statusbar {
    border-color: $grey;
    background: #fff;
}

.note-modal {
    z-index: 99999;
}

/* ----- Activity ----- */
.cmnt_act {
    padding: $spacing_sm 0;
    margin-bottom: 150px;
    &_title {
        font-size: 18px;
        background-color: $light;
        padding: $spacing_s;
        margin: $spacing_s 0 0;
        border-radius: $border_radius_xs;
    }
    &_user {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-gap: $spacing_xs;

        &_name {
            font-weight: 600;
        }
        
        &_img {
            img {
                width: 100%;
            }
        }

        &_text {
            margin-top: $spacing_s;
            font-size: 14px;
        }
    }
    &_date {
        font-size: 12px;
        color: $text_light;
    }
    &_row {
        &:not(:last-child) {
            margin-bottom: $spacing_sm;
            padding-bottom: $spacing_sm;
            border-bottom: 1px solid #eee;
        }
    }
}

/* ----- Comment Area ----- */
.custComment {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $light;
    &-wrap {
        position: relative;
        margin: $spacing_sm $spacing_md;
    }

    &-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 99;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        grid-gap: 4px;
        background-color: $brand;
        color: #fff;
        border: none;
        padding: 3px 8px;
        border-radius: $border_radius_xs;
        transition: $ease_03;

        &:hover, &:active, &:focus {
            background-color: $secondary;
        }
    }

    .note-toolbar {
        position: absolute;
        bottom: 3px;
        left: 3px;
        border: none;
        background: $white;
        z-index: 9;
        width: calc(100% - 6px);
        padding: 8px 5px;
        border-top: 1px solid $grey;
    }

    .note-editable {
        background-color: #fff;
    }

    .note-editing-area {
        padding-bottom: 45px;
    }

    .note-statusbar {
        display: none;
    }
}

/* ----- Requiring Task ----- */
.req_calender {
    width: 400px;
    max-width: 100%;
    border: 1px solid $border_grey;
    padding: $spacing_s;
    border-radius: $border_radius_xs;
    &-label {
        font-size: 18px;
        font-weight: 500;
    }
    &-header {
        &-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing_xs;
            border-radius: $border_radius_xs;
            &-date {
                padding: 5px 15px;
                border-radius: $border_radius_xs;
                grid-gap: 5px;
                @include flex_align_center;
                &-primary {
                    border: 1px solid $brand_light;
                    color: $brand;
                    &:hover {
                        border-color: $brand;
                    }
                }
                &-secondary {
                    border: 1px solid $secondary_light;
                    color: $secondary;
                    &:hover {
                        border-color: $secondary;
                    }
                }
                span {
                    display: inline-flex;
                }
            }
        }
    }
    &-body {
        background-color: $light;
        padding: $spacing_sm;
        border-radius: $border_radius_xs;
    }
    &-repeats {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $spacing_sm;
        &-info {
            background-color: $yellow;
            padding: 5px 10px;
            border-radius: $border_radius_xs;
            text-align: center;
            margin-top: $spacing_sm;
        }
        select {
            &.planHoverStyle {
                background-color: transparent;
                min-height: inherit;
                border: none;
                border-radius: $border_radius_xs;
                background-color: #fff;
                padding: 5px 30px 5px 15px;
                font-size: 14px;
                &:hover, &.active {
                    border-color: $border_form;
                }
            }
        }
        &-lable {
            font-size: 14px;
        }
        &-weekly {
            &-day_select {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style-type: none;
                &>:not(style)~:not(style) {
                    margin-left: 0 !important;
                }

                li {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $grey;
                    @include flex_center;
                }
            }
        }
        &-monthly {
            &-opt {
                background: #fff;
                display: block;
                padding: 5px $spacing_xs;
                text-align: center;
                border-radius: $border_radius_xs;
                transition: $ease_03;
                font-size: 12px;
                svg {
                    width: 12px;
                    height: 12px;
                }
                &:hover, &.active {
                    background-color: $brand;
                    color: #fff;
                }
            }
            &-item {
                display: flex;
                justify-content: space-between;
                grid-gap: $spacing_sm;
                .form-control, .form-select {
                    min-height: inherit;
                    border: none;
                    font-size: 12px;
                    padding: 5px 30px 5px 10px;
                    border-radius: $border_radius_xs;
                }
            }
            &-onThe-r {
                display: flex;
                justify-content: space-between;
                grid-gap: $spacing_s;
            }
        }
    }
}