/*---- Body Style ----*/
body {
    font-family: $jost;
    font-weight: 400;
    color: $text_color;
    margin: 0;
    padding: 0;
}

/*---- Anchor Style ----*/
a {
    color: $text_color;
    text-decoration: none;
    &:hover {
        color: $link_hover;
    }
}

/*---- Font Weight ----*/
b, strong {
    font-weight: bold;
}

/*---- Small ----*/
.small, small {
    font-size: .6rem;
}

/*---- Batch ----*/
.badge {
    line-height: inherit;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*---- Text Style ----*/
.text {
    &-link {
        transition: $ease_03;
    }
    &-light {
        color: $text_light !important;
    }
    &-primary {
        color: $brand !important;
    }
}

/*---- List Style ----*/
ul {
    &.list {
        /*---- List None Style ----*/
        &-none {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}

.list {
    &-group {
        &-item {
            background-color: transparent;
            border: inherit;
            padding: inherit;
            color: inherit;
        }
    }
}

/*---- Title Styles ----*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin-bottom: $spacing_xs;
}

.h1, h1 {
    font-size: 3.5rem;
    @media (max-width: 767px) {
        font-size: 50%;
    }
}

.h2, h2 {
    font-size: 3rem;
    @media (max-width: 991px) {
        font-size: 2.4rem;
    }
    @media (max-width: 767px) {
        font-size: 2rem;
    }
}

.h3, h3 {
    font-size: 2.4rem;
    @media (max-width: 991px) {
        font-size: 2rem;
    }
    @media (max-width: 767px) {
        font-size: 1.8rem;
    }
}

.h4, h4 {
    font-size: 2rem;
    @media (max-width: 991px) {
        font-size: 1.8rem;
    }
    @media (max-width: 767px) {
        font-size: 1.6rem;
    }
}

.h5, h5 {
    font-size: 1.6rem;
    @media (max-width: 767px) {
        font-size: 1.3rem;
    }
}

.h6, h6 {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 400;
    @media (max-width: 767px) {
        font-size: 1.1rem;
    }
}

.title {
    font-weight: 300;
    &-sub {
        font-weight: 300;
    }
    &-wrap {
        margin-bottom: $spacing_md;
        .title {
            margin-bottom: $spacing_xs;
        }
    }
    &-sm {
        font-size: 20px;
    }
}

/*---- Section Space ----*/
.space {
    &-sec {
        padding-top: $spacing_xl;
        padding-bottom: $spacing_xl;
        @media (max-width: 991px) {
            padding-top: $spacing_lg;
            padding-bottom: $spacing_lg;
        }
        @media (max-width: 767px) {
            padding-top: $spacing_md;
            padding-bottom: $spacing_md;
        }
    }
    &-top {
        &-btn {
            margin-top: $spacing_lg;
        }
    }
}

/*---- Background Overlay ----*/
.bg {
    &-overlay {
        width: 100%;
        height: 100%;
        background-color: $dark;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
    &-grey {
        background-color: $grey;
    }
}

/* ----- Alert Message ----- */
.alert {
    padding: $spacing_xs $spacing_sm;
    font-size: 14px;
}

/* ----- Icon -----*/
.icon_group {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing_xs;
}

/* ----- Column Style ----- */
.column {
    &-box {
        background-color: #fff;
        padding: $spacing_sm;
        border-radius: $border-radius_xs;
    }
    &-head {
        border-bottom: 1px solid $grey;
        padding-bottom: $spacing_xs;
    }
}

/* ----- Search ----- */
.search-box {
    display: inline-flex;
    align-items: center;
    border-radius: $border-radius_xs;
    background-color: #fff;
    border: 1px solid $grey_xd;
    padding: 5px;

    input.form-control {
        min-height: inherit;
        border: none;
        padding: 5px 10px;
        background: transparent;
        width: inherit;
        font-size: 14px;
        min-width: 230px;
    }

    &-icon {
        width: 26px;
        height: 26px;
        @include inline_flex_center;
        background-color: $secondary;
        color: #fff;
        border-radius: $border-radius_xs;
        border: none;
        cursor: pointer;
        transition: $ease_03;

        &:hover, &:focus {
            background-color: $secondary_light;
            color: $secondary;
        }
    }
}

/* ----- Single Add ----- */
.single-add {
    display: grid;
    gap: $spacing_s;
    background-color: $light;
    border: 1px solid $grey;
    padding: 7px 7px 7px 15px;
    border-radius: $border_radius_xs;
    max-width: 450px;
    grid-template-columns: 1fr auto;
    box-shadow: $box_shadow_xtra_light;

    &-wrap {
        display: flex;
        align-items: center;
    }

    &-date {
        width: 35px;
        height: 30px;
        background: $secondary_light;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        border-radius: $border_radius_xs;
        margin-left: $spacing_xs;
        color: $secondary;
    }

    input.form-control {
        min-height: inherit;
        border: 1px solid transparent;
        border-right: 1px solid $grey_xd;
        padding: 0 $spacing_xs 0 0;
        background-color: transparent;
    }
    a.btn-sm {
        font-size: 14px;
        padding: 7px 15px;
    }
} 

/* ----- Card ----- */
.card_style {
    background-color: #fff;
    padding: $spacing_s;
    border-radius: $border_radius_xs;

    &-client {
        &-head {
            @include flex_align_center;
            gap: $spacing_xs;

            img {
                width: 50px;
            }
        }
        &-body {
            margin-top: $spacing_xs;
            &-title {
                margin-bottom: $spacing_xs;
            }
        }
    }
}